In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [4]:
#Read the content vector from content based recommendation
content_vector = pd.read_csv('content_vector.csv')

In [5]:
content_vectors = content_vector.T
content_vectors

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.470588,0.621324,0.191176,1.003676,0.676471,0.393382,0.551471,0.819853,0.393382,0.485294,...,0.466912,0.393382,0.393382,0.393382,0.393382,0.393382,0.352941,0.555147,0.334559,0.393382
1,0.338710,0.403226,0.193548,0.983871,0.903226,0.564516,0.629032,0.887097,0.564516,0.612903,...,0.354839,0.564516,0.564516,0.564516,0.564516,0.564516,0.451613,0.822581,0.258065,0.564516
2,0.222222,0.722222,0.388889,0.888889,0.981481,0.407407,0.555556,0.629630,0.407407,0.500000,...,0.648148,0.407407,0.407407,0.407407,0.407407,0.407407,0.481481,0.500000,0.222222,0.407407
3,0.166667,0.958333,0.458333,0.750000,0.875000,0.250000,0.500000,0.416667,0.250000,0.333333,...,0.791667,0.250000,0.250000,0.250000,0.250000,0.250000,0.583333,0.375000,0.166667,0.250000
4,0.714286,0.617143,0.108571,0.942857,0.314286,0.154286,0.342857,0.788571,0.154286,0.234286,...,0.428571,0.154286,0.154286,0.154286,0.154286,0.154286,0.217143,0.262857,0.468571,0.154286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.346939,0.816327,0.244898,1.040816,0.673469,0.367347,0.530612,0.693878,0.367347,0.428571,...,0.612245,0.367347,0.367347,0.367347,0.367347,0.367347,0.448980,0.571429,0.306122,0.367347
939,0.457944,0.514019,0.186916,1.056075,0.700935,0.448598,0.626168,0.887850,0.448598,0.588785,...,0.401869,0.448598,0.448598,0.448598,0.448598,0.448598,0.411215,0.672897,0.392523,0.448598
940,0.545455,1.090909,0.318182,1.000000,0.590909,0.227273,0.590909,0.636364,0.227273,0.272727,...,0.772727,0.227273,0.227273,0.227273,0.227273,0.227273,0.363636,0.272727,0.318182,0.227273
941,0.493671,0.620253,0.253165,0.898734,0.645570,0.392405,0.468354,0.835443,0.392405,0.518987,...,0.481013,0.392405,0.392405,0.392405,0.392405,0.392405,0.468354,0.607595,0.278481,0.392405
942,0.398810,0.797619,0.208333,1.053571,0.654762,0.339286,0.470238,0.726190,0.339286,0.428571,...,0.589286,0.339286,0.339286,0.339286,0.339286,0.339286,0.404762,0.535714,0.333333,0.339286

In [6]:
#from the content vectors select the top 5 predicted values. For the top5 values select the movies id, movies title and the genres.
def top5movies(content_vectors,movie_content):
    val_list = []
    for i in content_vectors:
        val = content_vectors[i].max()
        val_list.append(val)
    
    val_df=pd.DataFrame(val_list)
    val_df.columns = ['max_id']
    result = (val_df.sort_values(by='max_id', ascending=False)).head(5)
    movie_titles = movie_content[movie_content['movie id'].isin (result.index)][['movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

    genre_cols = movie_titles.columns.drop('movie title')
    # Extract active genres for each row
    movie_titles['Active_Genres'] = movie_titles[genre_cols].apply(lambda row: row.index[row == 1].tolist(), axis=1)
    
    # Select and display only the relevant columns
    # Movie ID is typically the index
    result = movie_titles[['movie title', 'Active_Genres']]
    return result

In [7]:
movie_titles = top5movies(content_vectors,movie_content)
movie_titles

                                movie title                Active_Genres
162  Return of the Pink Panther, The (1974)                     [Comedy]
170                     Delicatessen (1991)             [Comedy, Sci-Fi]
356  One Flew Over the Cuckoo's Nest (1975)                      [Drama]
829                         Power 98 (1995)  [Action, Mystery, Thriller]
991                 Head Above Water (1996)           [Comedy, Thriller]